.welcomeMessage {
    text-align: center;
    margin: 0.5em 0em 0.5em 0em;
}

.noAccount {
    text-align: center;
    margin: 2em 0em 0.5em 0em;
    color: var(--dynamic-text-color) !important;
}

.loginInput {
    display: block;
    margin: auto;
    font-size: 2em;
}

.loginButton {
    display: block;
    margin: auto;
    font-size: 2em;
	background: var(--dynamic-bg);
	color: var(--dynamic-text-color);
	border: 1px solid var(--dynamic-bruin-blue);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 1%;
	height: 2em;
}

.googleLogin {
    margin: 1% auto;
}