.learn-more-btn {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: -50px;
  }

