.clubForm{
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    width: 60%;
    margin: auto;
}

.clubForm h1{
    margin-bottom: 0.5em;
}

.clubFormButton{
    margin: 1em 0em !important;
    background: var(--dynamic-bg);
	color: var(--dynamic-text-color);
	border: 1px solid var(--dynamic-bruin-blue);
	border-radius: 5px;
    height: 2em;
    width: 100%;
}

.mb-3 select{
    width: 100%;
}

.clubFormLabel{
    float: left;
    position: relative;
    top: 4px;
}

.goToClubForm{
    width: 98%;
    margin: 0% 1% 2% 1% !important;
}